<button style="float: right;" mat-icon-button mat-dialog-close>
    <i class="fi-rr-cross"></i>
</button>
<form [formGroup]="perfilForm" mat-dialog-content class="content pb-3">
    <div class="row">
        <h1 class="col-11">{{nombre}}</h1>
        <button mat-icon-button class="col-1" *ngIf="!datos.edit" (click)="edit()">
            <mat-icon><i class="fi-rr-edit"></i></mat-icon>
        </button>
    </div>
    <mat-divider class="mb-3"></mat-divider>
    <div>
        <mat-form-field appearance="outline" class="col-xs-12 col-sm-12 col-md-5 col-lg-5 ms-1">
            <mat-label>Tipo de documento</mat-label>
            <mat-select formControlName="society_nit_type_id" cdkFocusInitial>
                <mat-option>.......</mat-option>
                <mat-option *ngFor="let tipo of tipos_docs" [value]="tipo.id">{{tipo.description}}</mat-option>
            </mat-select>
            <mat-error *ngIf="perfilForm.get('society_nit_type_id').hasError('required')">Por favor seleccione una opción</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-xs-12 col-sm-12 col-md-12 col-lg-5 ms-1">
            <mat-label>Número de documento</mat-label>
            <input type="number" matInput  formControlName="nit">
            <mat-error *ngIf="perfilForm.get('nit').hasError('required')">Por favor este campo es requerido</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-xs-12 col-sm-12 col-md-12 col-lg-5 ms-1">
            <mat-label>Dirección</mat-label>
            <input type="text" matInput formControlName="address">
            <mat-error *ngIf="perfilForm.get('address').hasError('required')">Por favor este campo es requerido</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-xs-12 col-sm-12 col-md-12 col-lg-5 ms-1">
            <mat-label>Barrio</mat-label>
            <input type="text" matInput formControlName="neighborhood">
            <mat-error *ngIf="perfilForm.get('neighborhood').hasError('required')">Por favor este campo es requerido</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-xs-12 col-sm-12 col-md-12 col-lg-5 ms-1">
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput [matDatepicker]="nacimiento" formControlName="date_birth">
            <mat-datepicker-toggle matSuffix [for]="nacimiento"></mat-datepicker-toggle>
            <mat-datepicker #nacimiento></mat-datepicker>
            <mat-error *ngIf="perfilForm.get('date_birth').hasError('required')">Por favor seleccione una opción</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-xs-12 col-sm-12 col-md-12 col-lg-5 ms-1">
            <mat-label>Estrato</mat-label>
            <mat-select formControlName="society_socio_economic_id">
                <mat-option>--------------</mat-option>
                <mat-option *ngFor="let estrato of estratos" [value]="estrato.id">{{estrato.description}}</mat-option>
            </mat-select>
            <mat-error *ngIf="perfilForm.get('society_socio_economic_id').hasError('required')">Por favor seleccione una opción</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-xs-12 col-sm-12 col-md-12 col-lg-5 ms-1">
            <mat-label>Género</mat-label>
            <mat-select formControlName="society_gender_id">
                <mat-option>--------------</mat-option>
                <mat-option *ngFor="let genero of generos" [value]="genero.id">{{genero.description}}</mat-option>
            </mat-select>
            <mat-error *ngIf="perfilForm.get('society_gender_id').hasError('required')">Por favor seleccione una opción</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-xs-12 col-sm-12 col-md-12 col-lg-5 ms-1">
            <mat-label>Decisor de compra</mat-label>
            <mat-select formControlName="society_purchase_decision_id">
                <mat-option>--------------</mat-option>
                <mat-option *ngFor="let decisor of decisores" [value]="decisor.id">{{decisor.description}}</mat-option>
            </mat-select>
            <mat-error *ngIf="perfilForm.get('society_purchase_decision_id').hasError('required')">Por favor seleccione una opción</mat-error>
        </mat-form-field>      
        <mat-form-field appearance="outline" class="col-xs-12 col-sm-12 col-md-12 col-lg-5 ms-1">
            <mat-label>Estado civil</mat-label>
            <mat-select formControlName="society_marital_status_id">
                <mat-option>--------------</mat-option>
                <mat-option *ngFor="let estado of estados" [value]="estado.id">{{estado.description}}</mat-option>
            </mat-select>
            <mat-error *ngIf="perfilForm.get('society_marital_status_id').hasError('required')">Por favor seleccione una opción</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-xs-12 col-sm-12 col-md-12 col-lg-5 ms-1">
            <mat-label>Nivel Academico</mat-label>
            <mat-select formControlName="society_academic_level_id">
                <mat-option>--------------</mat-option>
                <mat-option *ngFor="let nivel of lvl_academicos" [value]="nivel.id">{{nivel.description}}</mat-option>
            </mat-select>
            <mat-error *ngIf="perfilForm.get('society_academic_level_id').hasError('required')">Por favor seleccione una opción</mat-error>
        </mat-form-field>    
        <mat-form-field appearance="outline" class="col-xs-12 col-sm-12 col-md-12 col-lg-5 ms-1">
            <mat-label>Estado Laboral</mat-label>
            <mat-select formControlName="society_employment_status_id">
                <mat-option>--------------</mat-option>
                <mat-option *ngFor="let estado of est_laborales" [value]="estado.id">{{estado.description}}</mat-option>
            </mat-select>
            <mat-error *ngIf="perfilForm.get('society_employment_status_id').hasError('required')">Por favor seleccione una opción</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-xs-12 col-sm-12 col-md-12 col-lg-5 ms-1">
            <mat-label>Nivel de ingresos</mat-label>
            <mat-select formControlName="society_income_level_id">
                <mat-option>--------------</mat-option>
                <mat-option *ngFor="let nivel of lvl_ingresos" [value]="nivel.id">{{nivel.description}}</mat-option>
            </mat-select>
            <mat-error *ngIf="perfilForm.get('society_income_level_id').hasError('required')">Por favor seleccione una opción</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-xs-12 col-sm-12 col-md-12 col-lg-5 ms-1">
            <mat-label>Forma de pago</mat-label>
            <mat-select formControlName="society_way_to_pay_id">
                <mat-option>--------------</mat-option>
                <mat-option *ngFor="let pago of pagos" [value]="pago.id">{{pago.description}}</mat-option>
            </mat-select>
            <mat-error *ngIf="perfilForm.get('society_way_to_pay_id').hasError('required')">Por favor seleccione una opción</mat-error>
        </mat-form-field> 
        <mat-form-field appearance="outline" class="col-xs-12 col-sm-12 col-md-12 col-lg-5 ms-1">
            <mat-label>Código referencia</mat-label>
            <mat-select formControlName="user_type">
                <mat-option value="A">Nuevo</mat-option>
                <mat-option value="B">Bronce</mat-option>
                <mat-option value="C">Plata</mat-option>
                <mat-option value="D">Diamante</mat-option>
                <mat-option value="E">Oro</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="btns-dialog ms-3" [hidden]="!datos.edit">
        <button mat-stroked-button class="btn-back" (click)="edit()">Cancelar</button>
        <button mat-raised-button class="btn-succ" (click)="updateProfile()">Guardar</button>
    </div>
</form>