<div mat-dialog-content class="content-dialog">
    <h2>Registro</h2>
    <form [formGroup]="registerForm">
        <mat-form-field class="col-12 mb-2" appearance="outline">
            <mat-label>Nombres</mat-label>
            <input type="text" matInput formControlName="names">
        </mat-form-field>
        <mat-form-field class="col-12 mb-2" appearance="outline">
            <mat-label>Apellidos</mat-label>
            <input type="text" matInput formControlName="surnames">
        </mat-form-field>
        <mat-form-field class="col-12 mb-2" appearance="outline">
            <mat-label>Correo electrónico</mat-label>
            <input type="email" matInput formControlName="email">
        </mat-form-field>
        <mat-form-field class="col-12 mb-2" appearance="outline">
            <mat-label>País</mat-label>
            <mat-select formControlName="pais" (selectionChange)="getStates()">
                <mat-option>.....</mat-option>
                <mat-option *ngFor="let country of countries" [value]="country.id">{{country.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-12 mb-2" appearance="outline">
            <mat-label>Departamento</mat-label>
            <mat-select formControlName="departamento" (selectionChange)="getCities()">
                <mat-option>.....</mat-option>
                <mat-option *ngFor="let state of states" [value]="state.id">{{state.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-12 mb-2" appearance="outline">
            <mat-label>Ciudad</mat-label>
            <mat-select formControlName="geography_city_id">
                <mat-option>.....</mat-option>
                <mat-option *ngFor="let city of cities" [value]="city.id">{{city.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-12 mb-2" appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input type="number" matInput formControlName="mobile_number">
        </mat-form-field>
        <mat-form-field class="col-12 mb-1" appearance="outline">
            <mat-label>Password</mat-label>
            <input [type]="password ? 'password' : 'text'" matInput formControlName="password">
            <a mat-icon-button matSuffix (click)="password = !password" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="password">
                <mat-icon>{{password ?  'visibility_off' : 'visibility'}}</mat-icon>
            </a>
        </mat-form-field>
        <mat-form-field class="col-12 mb-1" appearance="outline">
            <mat-label>Password</mat-label>
            <input [type]="confirma ? 'password' : 'text'" matInput formControlName="confirma">
            <a mat-icon-button matSuffix (click)="confirma = !confirma" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirma">
                <mat-icon>{{confirma ?  'visibility_off' : 'visibility'}}</mat-icon>
            </a>
        </mat-form-field>
        <mat-checkbox class="col-12">
            <p class="text-start text-wrap"> Deseo recibir información acerca de las encuestas en
                las que soy candidato para participar mediante correo 
                electrónico
            </p>
        </mat-checkbox>
        <button mat-raised-button color="primary" class="col-12 mb-2" (click)="singUp()">Registrarse</button>
        <div class="col-12" style="text-align: right;">
            <span>¿Ya tienes una cuenta? Inicia sesión</span>
        </div>
    </form>
</div>