<div class="ms-2 ms-md-4 me-2 me-md-4 mb-3 mb-md-0">
    <h2>Información de Puntos</h2>
    <div class="mat-elevation-z1">
      <table  [dataSource]="dataSource" mat-table  matSort>

        <ng-container matColumnDef="study_code">
          <th mat-header-cell *matHeaderCellDef> Código estudio </th>
          <td mat-cell *matCellDef="let element"> {{element.TransactionPoint.study_code}} </td>
        </ng-container>

        <ng-container matColumnDef="study_name">
          <th mat-header-cell *matHeaderCellDef> Estudio </th>
          <td mat-cell *matCellDef="let element"> {{element.TransactionPoint.study_name}} </td>
        </ng-container>


        <ng-container matColumnDef="registry">
          <th mat-header-cell *matHeaderCellDef> Tipo </th>
          <td mat-cell *matCellDef="let element"> {{element.TransactionPoint.registry }} </td>
        </ng-container>

        <ng-container matColumnDef="date_points">
          <th mat-header-cell *matHeaderCellDef> Fecha puntos </th>
          <td mat-cell *matCellDef="let element"> {{element.TransactionPoint.date_points | date:'dd/MM/YYYY'}} </td>
        </ng-container>

        <ng-container matColumnDef="transaction_type">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.TransactionPoint.transaction_type}} </td>
        </ng-container>

        <ng-container matColumnDef="points">
            <th mat-header-cell *matHeaderCellDef> Puntos </th>
            <td mat-cell *matCellDef="let element"> {{element.TransactionPoint.points }} </td>
        </ng-container>

        <ng-container matColumnDef="observation">
            <th mat-header-cell *matHeaderCellDef> Observación </th>
            <td mat-cell *matCellDef="let element"> {{element.TransactionPoint.observation}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No hay datos para mostrar</td>
        </tr>
      </table>
      <mat-paginator [length]="length"
      [pageSize]="pageSize"
      (page) ="pageEvent($event)"
      [pageSizeOptions] = "pageSizeOptions"
      >
    </mat-paginator>
    </div>
    <div class="descripcion  float-end">
      <span>CR: Créditos, RV: Reversos, RD: Redenciones</span>
    </div>
</div>