@import url(../../../../../panel-why.component.scss);

.content{
    padding-right: 3em;
    mat-form-field{
        width: 100%;
    }
}

.btns{
    width: 100%;
    display: grid;
    padding-left: 2.5em;
    grid-template-columns: repeat(2,8em);
    gap: 1em;
}