<div class="sidenav mt-5">
    <img src="" alt="" height="128px" width="128px">
    <h3 class="mt-5">¡Bienvenido de vuelta!</h3>
    <h2>Puntos: {{actual | number}}</h2>
    <mat-nav-list class="menu">
        
        <a mat-list-item [routerLink]="['/panel-why/dashboard']" routerLinkActive="activo">
            <i class="fi-rr-bank" style="margin-right: 1rem;"></i> Dashboard
        </a>

        <a mat-list-item [routerLink]="['/panel-why/perfil']" routerLinkActive="activo">
            <i class="fi-rr-calculator" style="margin-right: 1rem;"></i> Perfil
        </a>

        <a mat-list-item [routerLink]="['/panel-why/pagos']" routerLinkActive="activo" >
            <i class="fi-rr-stats" style="margin-right: 1rem;"></i> Pagos
        </a>

        <a mat-list-item [routerLink]="['/panel-why/puntos']" routerLinkActive="activo">
            <i class="fi-rr-dollar" style="margin-right: 1rem;"></i> Puntos
        </a>
        
        <a mat-list-item (click)="logOut()">
            <i class="fi-rr-sign-out" style="margin-right: 1rem;"></i> Cerrar sesión
        </a>

    </mat-nav-list> 
</div>