<mat-sidenav-container class="col-12">
    <mat-sidenav #sideNav mode="side" class="col-lg-2 bg-gradiente" opened>
       <app-menu-nav></app-menu-nav>
    </mat-sidenav>
    
    <mat-sidenav-content class="col-lg-10">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <img class="ms-4 img-fluid" src="https://backend-app.panelwhy.com/static/img/logo_transparente.png" alt="" height="200px" width="200px"><br>
    </mat-sidenav-content>
</mat-sidenav-container>